USERS_CONNECTION_STRING=Server=host.docker.internal,1433;Database=AstraSystemsRental;User ID=sa;Password=Your_Strong_Passw0rd!;TrustServerCertificate=True;Encrypt=False
JWT_ISSUER=https://astra.local
JWT_AUDIENCE=astra-app
CONFIRMATION_BASE_URL=https://astra.local/confirm
MAIL_API_BASE_URL=http://astra-api-mail:8080
INTERNAL_API_KEY=change-this-internal-key
