bin/
obj/
out/
.vs/
*.user
*.suo
[Dd]ebug/
[Rr]elease/
x64/
x86/

TestResults/
coverage/
coverage*.xml
coverage*.json
*.coverage
*.coveragexml

*.log
Logs/
!**/Views/

.env
appsettings.Development.json
appsettings.Local.json

*.nupkg
*.snupkg
.nuget/packages/
**/packages/

.vscode/
.DS_Store
Thumbs.db
